a {
    margin: 0 !important;
}

.quote {
    text-align: justify;
    text-justify: inter-word;
}

.action {
    color: #ffffff !important;
}

.logos {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.responsive-img {
    max-height: 250px;
    margin-top: 3%;
}